#ifndef SECRETS_H
#define SECRETS_H

// WiFi credentials
const char *wifi_ssid = "My WiFi SSID";
const char *wifi_password = "My WiFi password";

// Time zone (affects local time display only, not UTC)
// See https://raw.githubusercontent.com/nayarsystems/posix_tz_db/master/zones.csv
const char *time_zone = "EET-2EEST,M3.5.0/3,M10.5.0/4";  // Finland

#endif // SECRETS_H